[project]
name = "storage-engine"
version = "0.1.0"
description = "Designing Data-Intensive Applications Storage Engine Examples"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[project.optional-dependencies]
dev = [
    "pytest"
]
